@charset "utf-8";

/*CLASSES*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> a7c7c224ddd8ead8848d6eea695eef6a5d3e0d34
>>>>>>> cda000076a31441754a576007250d5d1f89daafa
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
}

<<<<<<< HEAD
=======
.center{
	position:absolute;
    top:50%;
    left:50%;
    width:300px; 
    height:200px; 
    margin-left:-150px; 
    margin-top:-100px;

>>>>>>> a5b6f1b9fdf5f2a32e3d105f2b8360aad86e7687
>>>>>>> cda000076a31441754a576007250d5d1f89daafa
.sectioncss{
	font-family: 'Concert One', cursive;
	margin-bottom: 100px;
}

.right{
	width: 49%;
	margin-right: 0%;
	float:right;
}

.left{
	width: 49%;
	margin-left: 0%;
	float:left;
<<<<<<< HEAD
}

.marginBottom{
	margin-bottom: 100px;
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
}

/*ID*/
=======
<<<<<<< HEAD
=======

>>>>>>> 145da7109ac1264ce206b815febc575cfbaec2c8
>>>>>>> a7c7c224ddd8ead8848d6eea695eef6a5d3e0d34
>>>>>>> cda000076a31441754a576007250d5d1f89daafa
}

/*ID*/

#thePolice{
	font-family: 'Concert One', cursive;
}

#centerDiv{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

/*BALISES*/

section h1{
	text-align: center;
}

div {
	border-radius: 5px;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> a5b6f1b9fdf5f2a32e3d105f2b8360aad86e7687
>>>>>>> a7c7c224ddd8ead8848d6eea695eef6a5d3e0d34
>>>>>>> cda000076a31441754a576007250d5d1f89daafa

#centerDiv{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

/*BALISES*/

form div{
	margin-bottom: 10px;
}

.bgcolor{
	background-color: #F4661B;
	border-radius: 4px;
}

button{
	margin-top: 50px;
	margin-bottom: 20px;
}

form{
	margin-left: 20px;
}

h1{
	text-align: center;
}

h2{
	color: #F0FFFF;
	margin-left: 20px;
}

input{
	float: right;
	margin-right: 200px;
}

/*errors on form*/
form p.error {
	margin-left: 160px;
	color: #d23d24;
}

ul.error{
	margin-left: 160px;
	padding: 0;
	list-style-type: none;
	color:#d23d24;
}