h1{
    text-align:center;
}
#nav li {
	display: inline;
}

#nav a {
	color: white;
	margin-left: 70px;
	text-decoration: none;
	font-size: x-large;
}
#nav{
	background-color: #d4600d;
	height:75px;
	text-align:center;
	border-bottom-style: solid;
	border-bottom-size:	3px;
	border-bottom-color: grey;
	border-top-style: solid;
	border-top-size: 3px;
	border-top-color: grey;
}
#topbar {
	height: 100px;

}
#topbar li {
	display: inline;
}

@font-face{
	font-family: 'Concert One', cursive;
}

.sectioncss{
	font-family: 'Concert One', cursive;
	margin-bottom: 100px;
}

.bgcolor{
	background-color: #F4661B;
	border-radius: 4px;
}

#centerDiv{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

h1{
	text-align: center;
}