@charset "utf-8";

@font-face{
	font-family:"police1";
	src:url("BAUHS93.TTF");
}

/*CLASSES*/

.sectioncss{
	font-family: 'Concert One', cursive;
	margin-bottom: 100px;
}

.right{
	width: 49%;
	margin-right: 0%;
	float:right;
}

.left{
	width: 49%;
	margin-left: 0%;
	float:left;
}

.menu{
    width: 20%;
    margin-right: 0%;
    float:right;
    text-align: justify;
    background: #E9E9E7;
    border-radius: 10px;
}

.center{
	text-align: center;
}

/*ID*/

#centerDiv{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

/*BALISES*/

div{
	background-color: #F5F6CE;
	border-radius: 4px;
}

section h1{
	text-align: center;
	color: #0793F0;
	text-decoration: underline overline;
}

section > div{
    background: #FBF6D8;
    width: 79%;
    margin-right: 1%;
    float:left;
    text-align: justify;
}