nav li {
	display: inline;
}
h1{
    text-align:center;
}
#nav li {
	display: inline;
}
#nav a {
	color: grey;
	margin-left: 10px;
	text-decoration: none;
	font-size: x-large;
}
#nav{
	height:75px;
	text-align:center;
	border-bottom-style: solid;
	border-bottom-size:	1px;
	border-bottom-color: grey;
}
ul{
	padding-top: 15px;
	list-style-type:none;
}
ol, ul {
	list-style: none;
}
#id_titre,#id_legende,#id_nomAdmin,#image,#button{
	margin-left: 35%;
}
