
/*.ALaUne{
	display: inline-block;
	width: 48%;
    float: left;
	padding:1%;
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.Precedent{
	display: inline-block;
	width: 48%;
	margin-right: 0px;
    float: right;
	padding:1%;
}

#test{
	background-color: red;
}

nav li {
	display: inline;
}

.ALaUne{
   display: inline-block;
   width: 48%;
    float: left;
   padding:1%;
}

.Precedent{
   display: inline-block;
   width: 48%;
   margin-right: 0px;
    float: right;
   padding:1%;
}​


h1{
    text-align:center;
}
#nav li {
	display: inline;
}
#nav a {
	color: grey;
	margin-left: 10px;
	text-decoration: none;
	font-size: x-large;
}
#nav{

	height:75px;
	text-align:center;
	border-bottom-style: solid;
	border-bottom-size:	1px;
	border-bottom-color: grey;

}
ul{
	padding-top: 15px;
	list-style-type:none;
}
ol, ul {
	list-style: none;
}

#log {
<<<<<<< HEAD
=======
<<<<<<< HEAD
	float: right;
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
	float: right;
=======
>>>>>>> cda000076a31441754a576007250d5d1f89daafa

	float: right;


<<<<<<< HEAD
=======
>>>>>>> 145da7109ac1264ce206b815febc575cfbaec2c8
>>>>>>> a5b6f1b9fdf5f2a32e3d105f2b8360aad86e7687
>>>>>>> a7c7c224ddd8ead8848d6eea695eef6a5d3e0d34
>>>>>>> cda000076a31441754a576007250d5d1f89daafa
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

