
.ALaUne{
	display: inline-block;
	width: 48%;
    float: left;
	padding:1%;
}
.Precedent{
	display: inline-block;
    width: 48%;
    margin-right: 0px;
    float: right;
    padding: 1%;
    margin-top: 2.3%;
}
#EvtALaUne{
	background-color: #cf7314;
    width: 50%;
    padding: 20%;
    border-radius: 50%;
    margin-left: 5%;
}
#pdiv{
	text-align: center;
}

#log {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

div#Evt1 {
    background-color: #cf7314;
    width: 80%;
    padding: 2%;
    border-radius: 50%;
    margin-left: 8%;
}
div#Evt2 {
    background-color: #cf7314;
    width: 80%;
    padding: 2%;
    border-radius: 50%;
    margin-left: 8%;
}

div#Evt3 {
   background-color: #cf7314;
    width: 80%;
    padding: 2%;
    border-radius: 50%;
    margin-left: 8%;
}