@charset "utf-8";

@font-face{
	font-family:"police1";
	src:url("BAUHS93.TTF");
}

/*CLASSES*/

.sectioncss{
	font-family: 'Concert One', cursive;
	margin-bottom: 100px;
}

.right{
	width: 49%;
	margin-right: 0%;
	float:right;
}

.left{
	width: 49%;
	margin-left: 0%;
	float:left;
}

/*ID*/

#centerDiv{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

/*BALISES*/

form div{
	margin-bottom: 10px; 
}

body div{
	background-color: #F5F6CE;
	border-radius: 4px;
}

button{
	margin-top: 50px;
	margin-bottom: 20px;
}

form{
	margin-left: 20px;
}

h1{
	text-align: center;
}

h2{
	color: blue;
	margin-left: 20px;
}

input{
	float: right;
	margin-right: 200px;
}

/*errors on form*/
form p.error {
	margin-left: 160px;
	color: #d23d24;
}

ul.error{
	margin-left: 160px;
	padding: 0;
	list-style-type: none;
	color:#d23d24;
}