<!doctype html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Accueil</title>
  <link rel="stylesheet" href="/static/css/accueil.css">
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
{% include "header.html" %}
<body>
    <h1>Bienvenue sur eBourg </h1>

    <div id="EvenementSportifAccueil">
        <div id = "phrasePresentation">
            <p> Voici le dernier évènement sportif à l'affiche! </p>
        </div>
  {% if nbEventSportif == 0 %}
      <div>​
          <a ><img src = "/static/img/pasEvenement.png" alt="{{pasEvenement}}" style="width:50%; height:50%;"></a>
      </div>
  {% endif %}
  {% if nbEventSportif > 0 %}
      {% for e in EventSportif %}
          {% if e.id == maxSportif %}
            <div class="item active">
              <p style = "text-align:center;"> {{e.titre}} </p>
              <p style = "text-align:center;"> {{e.legende}} </p>
              <a href="reservation">
                <img src = "/static/img/{{e.image}}" alt={{e.image}}  ></a>
              </a>
            </div>
          {% endif %}
      {% endfor %}
  {% endif %}
    </div>
  {% if nbEventCulturel == 0 %}
      <div>​
          <a ><img src = "/static/img/pasEvenement.png" alt="pasEvenement" style="width:50%; height:50%;"></a>
      </div>
  {% endif %}
  {% if nbEventCulturel > 0 %}
      {% for e in EventCulturel %}
          {% if e.id == maxCulturel %}
            <div class="item active">
            <p style = "text-align:center;"> {{e.titre}} </p>
            <p style = "text-align:center;"> {{e.legende}} </p>
            <a href="reservation">
              <img style= "width:100%; height:50%;"  src = "/static/img/{{e.image}}" alt={{e.image}}  ></a>
            </a>
          </div>
          {% endif %}
          {% endfor %}
      <!-- pas de endfor sinon ça ne fonctionne pas !-->
  {% endif %}


</body>
{% include "footer.html" %}
</html>
