{% include "memberInclude.html" %}

	<body>
	<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">


		<h1> Assistance </h1>

		<div id="centerDiv">
            <h2>Formulaire d'assistance</h2>
            {% block content %}
            <form action="assist" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
					<button type="submit">Ok</button>
					<button type="reset">Annuler</button>
				</div>
                <p>
                    <a href="{% url 'register' %}">Mot de passe oublié</a>
                </p>
            </form>
            {% endblock %}
		</div>
	</div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-128 w3-center">NEWS</p>
    </div>
  </div>
	</body>

</html>
