<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/connect.css">
</head>
{% include "header.html" %}
<body>


	<section class="sectioncss" role="main">
		<h1>Connexion</h1>
		<div class="bgcolor" id="centerDiv">
        <h2>Se connecter</h2>
        {% block content %}
        <form action="login" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
      				<button type="submit">Ok</button>
      				<button type="reset">Annuler</button>
		        </div>
              <p>
                  <a href="/admin">Se connecter en tant qu'administrateur</a>
              </p>
            <p>
                  <a href="register">Mot de passe oublié</a>
              </p>
          </form>
          {% endblock %}
		</div>
        <div class="bgcolor" id="centerDiv">
            <h2>S'inscrire'</h2>
            <p>
                Vous n'êtes pas encore inscrit ? Cliquez sur le lien ci-dessous pour commencer la démarche !
            </p>
            <a href="register">S'inscrire</a>
        </div>
	</section>
</body>
{% include "footer.html" %}
</html>
