<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="/static/css/contact.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% include "header.html" %}
<body>
	<section class=sectioncss">
		<h1> Contact </h1>
		<div class="bgcolor" id="centerDiv">
			<h2>Remplissez :</h2>
			{% block content %}
			<form action="contact" method="post">
					{% csrf_token %}
					<div>
						{{ form.as_p }}
					</div>

					<div>
						<button type="submit">Ok</button>
						<button type="reset">Annuler</button>
					</div>
				</form>
			{% endblock %}
		</div>
	</section>
</body>
{% include "footer.html" %}
</html>
