<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style_sportif.css">
</head>
{% include "header.html" %}
<body>
<section>
    <h1>Evenements Culturels</h1>
    {% if nbEvent > 0 %}
        {% for e in Event %}
            {% if e.typeEvenement == 'c' %}
                {% if e.id == maxCulturel %}
                <div class="ALaUne">​
                    <h1> {{e.titre}}</h1>
                    <p align="center">  {{e.legende}}</p>
                    <div>
                        <a><img src = "/static/img/{{ e.image }}" alt={{e.image}} style= "width:100%; height:50%;" ></a>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if nbEvent == 0 %}
    <div>​
        <a ><img src = "/static/img/pasEvenement.png" alt={{pasEvenement}} style="width:50%; height:50%;"></a>
    </div>
    {% endif %}
    {% if nbEvent > 0 %}
    <div class="Precedent">
        <div class="container" style= "width:100%; height:50%;">
            <h2 id="ex1"align="center">Liste des évènements sportifs</h2>
            <p align="center"> Voici les différents évènements encore disponible</p>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for e in Event %}
                    {% if e.id == maxCulturel %}
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% endif %}
                    {% if e.id < maxCulturel %}
                    <li data-target="#myCarousel" data-slide-to="{{e.id}}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" >
                    {% for e in Event %}
                        {% if e.typeEvenement == "c" %}
                            {% if e.id == maxCulturel %}

                            <div class="item active">
                                <p style = "text-align:center;"> {{e.titre}} </p>
                                <p style = "text-align:center;"> {{e.legende}} </p>
                                <a href="reservation" >
                                    <img   src = "/static/img/{{e.image}}" alt={{e.image}}  ></a>
                                <div class="carousel-caption">
                                </div>
                                </a>
                            </div>
                            {% endif %}
                            {% if e.id < maxCulturel %}

                            <div class="item">
                                <p style = "text-align:center;"> {{e.titre}} </p>
                                <p style = "text-align:center;"> {{e.legende}} </p>
                                <a href="reservation"><img style="width:100%; height:50%;" src = "/static/img/{{ e.image }}" alt={{e.image}}></a>
                                <div class="carousel-caption">
                                </div>
                                </a>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Left and right controls -->

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
{% endif %}
        </div>
{% include "footer.html" %}
    </div>
</section>
</body>
</html>