<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="/static/css/style_form_sportif.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <header>
            <nav id="nav">
            <ul>
               <li> <a href=accueil>Accueil</a> </li>
               <li> <a href=a_venir>Evènements à venir</a> </li>
               <li> <a href=sportif>Evènements sportifs</a> </li>
               <li> <a href=culturel>Evènements culturel</a> </li>
               <li> <a href=contact>Contact</a> </li>
               <li> <a href=connexion>Connexion</a> </li>
            </ul>
         </nav>
      </header>
      <h1> Formulaire pour le Carousel </h1>

      <form classe="center" action="form_sportif" method="post" enctype="multipart/form-data"> {% csrf_token %}
          {{ formset.errors }} {{ form.errors }}{{ form.non_field_errors }}

        <div>
	        <p id="id_titre"><label for="id_titre">Titre:</label> <input id="id_sujet" type="text" name="titre" maxlength="100" required/></p>
        </div>
        <div>
            <p id="id_legende"><label for="id_legende">Legende:</label> <textarea id="id_message" rows="1" cols="10" name="legende" required></textarea></p>
        </div>
        <div>
            <p id="id_nomAdmin"><label for="id_nomAdmin">Nom de l'administrateur:</label> <input type="text" name="nomAdministrateur" id="id_envoyeur" required/></p>
        </div>
        <div>
            <label id= "image" for="image">Fichier :</label>
            <input type="file" name="image" accept=".jpg, .png"> <!--required-->
        </div>
        <div>
            <button id="button" type="submit">Envoyer</button>
        </div>
      </form>
   
        <footer>
        </footer>
   </body>
</html>
