<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <header>
        <div>
            <a href="accueil"> <img src="/static/img/Logo.png" width="200" height="200" alt="Logo"  title="Logo"></a>
        </div>

        <div>
            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="accueil">Bouger, c'est vivre</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="accueil">Accueil</a></li>
                  <li><a href="sportif">Evènements sportifs</a></li>
                  <li><a href="culturel">Evènements culturels</a></li>
                  <li><a href="contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      {% if user_logged %}
                        <a href="member"><span class="glyphicon glyphicon-log-in"></span>
                        {{ user_logged.pseudo }}
                      {% else %}
                          <a href="login"><span class="glyphicon glyphicon-log-in"></span>
                          Login
                      {% endif %}
                        </a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
    </header>
</html>
