<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/connect.css">
    <title>S'inscrire</title>
</head>
{% include "header.html" %}
<body>
    <section class="sectioncss" role="main">
        <h1>Inscription</h1>
        <div class="bgcolor" id="centerDiv">
			<h2>S'inscrire</h2>
			{% block content %}
      <form action="register" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
					<button type="submit">Ok</button>
					<button type="reset">Annuler</button>
			 </div>
			 </form>
      {% endblock %}
		</div>
        <div class="bgcolor" id="centerDiv">
			<h2>Mot de passe oublié</h2>
            <p>Si vous avez oublié votre mot de passe, veuillez renseigner votre adresse mail ci-dessous et vous recevrez un mail avec un nouveau mot de passe.</p>
            <form  action="mdpForget" method="post">
                {% csrf_token %}
                <div>
					<label for="id">Votre email</label>
					<input id="id" type="text" name="email" required>
				</div>
                <div>
					<button type="submit">Ok</button>
					<button type="reset">Annuler</button>
				</div>
			</form>
        </div>
    </section>
</body>
{% include "footer.html" %}
</html>
