{% include "memberInclude.html" %}

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Bienvenue {{ user_logged.pseudo }}</h1>
      <p>Bienvenue sur eBourg {{ user_logged.pseudo }} !</p>
      <p>Vous êtes maintenant connecté en tant qu'utilisateur du site de réservation en ligne eBourg.
        Vous pouvais donc désormais accèder aux fonctionnalités de réservation et de paiement en ligne sécurisé.</p>
    </div>
    <div class="w3-third w3-container">
      <p class="w3-border w3-padding-large w3-padding-128 w3-center">NEWS</p>
    </div>
  </div>


{% include "footer.html" %}
<!-- END MAIN -->
</div>
</body>

</html>
