{% include "memberInclude.html" %}

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Mon Panier</h1>
      {% if request.session != "" %}
        {% for e in Event %}
            {% if e.titre == request.session.panier %}
                <div>
                    <a><img src = "/static/img/{{ e.image }}" alt="{{e.image}}" style= "width:100%; height:50%;" ></a>
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    {% if request.session == "" %}
        <p>Vous n'avez rien dans votre panier</p>
      {% endif %}
    </div>
    <div class="w3-third w3-container">
        <a href="pay" onclick="window.open(this.href,'Nos contacts','height=300, width=400, top=100, left=300, toolbar=no, menubar=no, location=no, resizable=yes, scrollbars=no, status=no'); return false;"> <p class="w3-border w3-padding-large w3-padding-128 w3-center">Payer
        </p></a>
    </div>
  </div>


{% include "footer.html" %}
<!-- END MAIN -->

</body>

</html>