{% include "memberInclude.html" %}

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Mon Panier</h1>
    {% if request.session.panier == 'no' %}
        <p>Vous n'avez rien dans votre panier</p>
      {% endif %}

      {% if request.session.panier != 'no' %}

        <p align="center">  Vous avez dans votre panier cet évènement : {{ request.session.panier }}. Vous devez payer 1€</p>



        </div>
        <div class="w3-third w3-container">
            <a href="pay" onclick="window.open(this.href,'Payer','height=300, width=400, top=100, left=300, toolbar=no, menubar=no, location=no, resizable=yes, scrollbars=no, status=no'); return false;"> <p class="w3-border w3-padding-large w3-padding-128 w3-center">Payer
            </p></a>
        </div>
        <a href="delPanier">Supprimer le panier</a>
      </div>
    {% endif %}


{% include "footer.html" %}
<!-- END MAIN -->

</body>

</html>