<!DOCTYPE html>
<html lang="fr">
{% include "memberInclude.html" %}

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
    <h1 id="wo" class="w3-text-teal"> Paramètres du compte </h1>
      <div>
            <h2> Mettre à jour votre mot de passe </h2>

            <form action="parametres" method="post">
                {% csrf_token %}
                {{ form.as_p }}
				<button type="submit"> Enregistrer </button>
				<button type="reset">Annuler</button>
            </form>

      </div>

  </div>
</div>
    {% include "footer.html" %}

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>


</body>


</html>
