<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Réservation</title>
</head>
{% include "header.html" %}
<body>
    <h1 style="text-align:center;">Réservations</h1>
    <p style = "text-align:center;">Voici les différentes réservations disponibles</p>
    {% for e in Event %}
        {% if e.typeEvenement == 's' %}
                <h1 style = "text-align:center;"> {{e.titre}}</h1>
                <p align="center">  {{e.legende}}</p>
                <h2 style = "text-align:center;" >Il y a {{e.nombreDePlaces}} places pour cet évènement</h2>
                <div>
                    <a><img src = "/static/img/{{ e.image }}" alt="{{e.image}}" style= "width:100%; height:50%;" ></a>
                </div>
                <div>
                <form action="addPanier/{{ e.titre }}" method="post">
                    {% csrf_token %}
                    <div>
                        <input id = "titre" type = "hidden" value = "{{e.titre}}">
                        <input id = "legende" type = "hidden" value = "{{e.legende}}">
                        <input id ="image" type = "hidden" value = "{{e.image}}">
                        <button type = "submit"> Ajouter au panier </button>
                    </div>
                </form>
                </div>
        {% endif %}
        {% if e.typeEvenement == 'c' %}
            <div>​
                <h1> {{e.titre}}</h1>
                <p align="center">  {{e.legende}}</p>
                <h2> Il y a {{e.nombreDePlaces}} places pour cet évènement</h2>
                <div>
                    <a><img src = "/static/img/{{ e.image }}" alt="{{e.image}}" style= "width:100%; height:50%;" ></a>
                </div>
            </div>
            <div>
                <form action="addPanier/{{ e.titre }}" method="post">
                    {% csrf_token %}
                    <div>
                        <button type="submit">Ajouter au panier</button>
                    </div>
                </form>
                </div>
        {% endif %}
    {% endfor %}
</body>
{% include "footer.html" %}
</html>