<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style_sportif.css">
</head>
{% include "header.html" %}
<body>
    <section>
        <h1>Evenements sportifs</h1>

        {%if nbEvent > 0 %}
            {% for e in Event %}
                {% if e.typeEvenement == 's' %}
                    {% if e.id == maxSportif %}
                    <div class="ALaUne">​
                    <h1> {{e.titre}}</h1>
                    <p align="center">  {{e.legende}}</p>
                    <div>
                        <a href="reservation" ><img src = "/static/img/{{ e.image }}" alt={{e.image}} style= "width:100%; height:50%;" ></a>
                    </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if nbEvent == 0 %}
        <div class="ALaUne">​
            <a style = "text-align: center ;" ><img src = "/static/img/pasEvenement.png" alt={{pasEvenement}} ></a>
        </div>
        {% endif %}
        {% if nbEvent > 0 %}
        <div class="Precedent">
            <div class="container" style= "width:100%; height:50%;">
                <h2 id="ex1"align="center">Liste des évènements sportifs</h2>
                <p align="center"> Voici les différents évènements encore disponible</p>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
           <body>
              <div id="aa">
                <section>
                    <h1>Evenements sportif</h1>

                    <div class="carousel-inner" >

                        {% for e in Event %}
                            {% if e.id == maxSportif %}
                            <div class="item active">
                                <p style = "text-align:center;"> {{e.titre}} </p>
                                <p style = "text-align:center;"> {{e.legende}} </p>
                                <a href="reservation">
                                    <img style= "width:100%; height:50%;"  src = "/static/img/{{e.image}}" alt={{e.image}}  ></a>
                                <div class="carousel-caption">
                                </div>
                                </a>
                            </div>
                            {% endif %}
                            {% if e.id < maxSportif %}

                            <div class="item">
                                <p style = "text-align:center;"> {{e.titre}} </p>
                                <p style = "text-align:center;"> {{e.legende}} </p>
                                <a href="reservation"><img style = "width:100%; height:50%;" src = "/static/img/{{ e.image }}" alt={{e.image}}></a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <!-- Left and right controls -->

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            
        {% endif %}
        {% include "footer.html" %}
        </section>
    </body>
</html>
​